@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{
  margin: 0;
  height: 100%;
}

.container {
  text-align: center;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

.landingPage{
  background-color: black;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.landingPageText{
  position: relative;
  top: 30%;
  text-align: center;
  width: 60%;
  height: fit-content;
}

.landingTitle{
  font-weight: 500;
  font-size: 500%;
}

.title{
  font-weight: 400;
  font-size: 400%;
}

.description{
  font-weight: 300;
  font-size: 300%;
}

.landingPageImage{
  padding-right: 20px;
  padding-top: 20px;
  width: 35%;
  height: auto;
  right: 0;
  position: absolute;
}

.page{
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.page2Image{
  padding-left: 20px;
  width: auto;
  height: 100%;
  left: 0;
  position: relative;
  top: -30px;
}

.page3Image{
  padding-right: 20px;
  top: 20%;
  width: auto;
  height: 60%;
  right: 0;
  position: relative;
}

@media only screen and (max-width: 930px) {
  .landingPageText{
    width: 100%;
    top: 20%;
    padding-top: 0;
    /* height: 10%; */
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .landingTitle{
    padding-top: 0%;
  }

  .page{
    display: block;
  }

  .landingPageImage{
    /* display: none; */
    right: auto;
    width: 70%;
    height: auto;
    top: 55%;
    padding-right: 15%;
    padding-left: 15%;
  }

  .page2Image{
     display: none; 
  }

  .page3Image{
    /* display: none; */
    right: auto;
    width: 90%;
    height: auto;
    top: 250px;
    padding-right: 5%;
    padding-left: 5%;
  }
}