@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{
  margin: 0;
  height: 100%;
}

.container {
  text-align: center;
  background-color: black;
}

.landingPage{
  background-color: black;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.landingPageText{
  position: relative;
  top: 45%;
  text-align: center;
  width: 60%;
  height: fit-content;
}

.landingTitle{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 500%;
}

.title{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 400%;
}

.description{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 300%;
}

.landingPageImage{
  padding-right: 20px;
  padding-top: 20px;
  width: 35%;
  height: auto;
  right: 0;
  position: absolute;
}

.page{
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.page2Image{
  padding-left: 20px;
  width: auto;
  height: 100%;
  left: 0;
  position: relative;
  top: -30px;
}

.page2Text{
  top:45%;
  text-align: center;
  width: 60%;
  height: fit-content;
  position: relative;
}

.page3Image{
  padding-right: 20px;
  top: 20%;
  width: auto;
  height: 60%;
  right: 0;
  position: relative;
}