*{
  margin: 0;
  height: 100%;
}

.container {
  text-align: center;

}

.navbar{
  object-fit: cover;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.247);
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.navbarTitle{
  color: white;
  float: left;
  text-align: center;
  /* background-color: red; */
  padding-left: 20px;
  font-size: 5vh;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
  margin-right: 10px;
}

li{
  float: right;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

li a:hover{
  background-color: slategray;
}

.landingPage{
  background-image: url(./images/inox-welding.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.landingPageFade{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.500);
}
